<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @title %> | SlickWik</title>
	<script type="text/javascript" charset="utf-8" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$().ready(function(){
			$('#edit_anchor').click(function() {
				$('#content').hide();
				$('#edit').show();
				return false;
			});
			$('#canceledit_anchor').click(function() {
				$('#edit').hide();
				$('#content').show();
				return false;
			});
			$('#delete_anchor').click(function() {
				if (confirm('Are you sure you want to delete this page?')) {
					if (confirm('EVERYTHING on this page will be deleted. No history, nothing. Are super-duper sure you want to do this?')) {
						$.post(this.href, {delete: 'delete'}, function() {
							window.location.replace("/");
						}, "json");
					}
				}
				return false;
			});
		});
	</script>
	<style type="text/css" media="screen">
		body { text-align: center; margin: 0; padding: 0; }
		div#container { margin: 0 auto; text-align: left; width: 600px; }
		.header {
			background-color: #363;
			-moz-border-radius: 0 0 10px 10px;
		}
		.header h1 { color: #fff; font-size: 1.2em; margin: 0; padding: 0.5em 1em; }
		.header a.action { color: #393; float: right; font-size: 0.6em; padding: 1.5em; text-decoration: none; }
		.header a[rel=home] { color: #393; float: left; font-size: 1em; padding: 0.3em 0.4em; text-decoration: none; }
		#content { padding: 0 1em; }
		#edit { display: none; padding: 0 1em; }
		#edit ul { list-style: none; margin: 0; padding: 0; }
		#edit form { }
		#edit textarea { height: 200px; width: 100%; }
		#help { color: #999; font-size: 0.6em; margin-top: 3em; }
		#help table { width: 70%; margin-left: 15%; }
		#help table td { vertical-align: top; }
		#help a { margin-left: 15%; }
	</style>
</head>
<body>
	<div id="container">
		<div class="header">
			<a href="#edit" id="edit_anchor" class="action">EDIT</a>
			<% if @page.slug != 'Home' %><a href="/<%= @slug %>" id="delete_anchor" class="action">DELETE</a><% end %>
			<a href="/Home" title="home" rel="home">&#x2654</a>
			<h1><%= @title %></h1>
		</div>
		<div class="section" id="content">
			<%=wik @page.content %>
		</div>
		<div class="section" id="edit">
			<form action="/<%= @slug %>" method="post">
				<input type="hidden" name="version" value="<%= @page.version %>">
				<ul>
					<li><textarea name="content"><%= @page.content %></textarea></li>
					<li><input type="submit" value="Save"> or <button id="canceledit_anchor">Cancel</button></li>
				</ul>
			</form>
			<div id="help">
				<table>
					<tr>
						<th>Markup</th>
						<th>What it does.</th>
						<th>Example</th>
					</tr>
					<tr>
						<td>[[...]]</td>
						<td>Creates a link to another SlickWik page</td>
						<td>Go [[Home]]</td>
					</tr>
					<tr>
						<td>*</td>
						<td>Create an unordered list</td>
						<td>* some item<br>* another item<br>* yet another item</td>
					</tr>
					<tr>
						<td>1.</td>
						<td>Create an ordered list</td>
						<td>1. item 1<br>2. item 2<br>3. item 3</td>
					</tr>
					<tr>
						<td>#</td>
						<td>Creates headings</td>
						<td># Biggest Heading<br>## Bigger Heading<br>### Big Heading</td>
					</tr>
				</table>
				<a href="http://daringfireball.net/projects/markdown/syntax">Full reference</a>
			</div>
		</div>
	</div>
</body>
</html>
